*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #7fa7c9;
background: linear-gradient(90deg, rgba(127, 167, 201, 1) 0%, rgba(94, 224, 209, 1) 53%, rgba(83, 91, 237, 1) 100%);
}

h1{
    font-size: 18pt;;
    margin-bottom: 20px;
    color: beige;
    background: #7fa7c9;
    background: linear-gradient(90deg, rgba(127, 167, 201, 1) 0%, rgba(94, 224, 148, 1) 59%, rgba(237, 221, 83, 1) 100%);
    border-radius: 20px 20px 0px 0px;  
    text-align: center;  
}

.formulario{
    border: 2px solid blanchedalmond;
    width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 50px;

}

.formulario td{
    padding: 5px 0px 5px 0px;
}

.central{
    text-align: center;
}

.boton {
    padding: 3px 35px 3px 35px;
    background-color: darkmagenta;
    color: antiquewhite;
    border-radius: 15px;
    /*border: none; */
}

.boton:hover{
    box-shadow: 0px 0px 15px black;
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}

table {
    width: 100%;
}